.switch-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.switch-wrapper > div {
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 100%;
}
